<div class="w-100 h-100 p-3" style="background-image: url('assets/images/building.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">
  <div class=" col-md-6 text-center text-white p-5" style="font-family: 'Bree Serif', serif; position: absolute; top: 40%; bottom: 0">
    <h1  class=" align-middle" style="font-family: 'Marko One', serif;">¡Bienvenido!</h1>
    <h3  class="mb-2" style="text-shadow: 2px 2px black">Estamos construyendo una emisora para ti y para todos</h3>
    <button type="button" class="btn btn-outline-warning">Contactanos</button>
  </div>
</div>